<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add fruit</title>
</head>
<body>
  <h1>Create a New Fruit!</h1>
  <form action="/fruits" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" />
    <br>
<br>
    <label for="isReadyToEat">Ready to Eat?</label>
    <input type="checkbox" name="isReadyToEat" id="isReadyToEat" />
    <br>
    <br>
    <button type="submit">Add Fruit</button>
   <br>
   <br>
<button>1☺<a href="/fruits">Browse Fruits</a></button>
<br>
<br>
<button><a href="/">Back to the Initial need to remember the why</a></button>

  </form>
</body>
    </html>