<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<h1>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Creat a New Fruit!</h1>

    <form action="/fruits" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" />
        </div>
               <br>
        <div>
            <label for="isReadyToEat">Ready To eat?</label>
            <input type="checkboc" name="isReadyToEat" id="isReadyToEat" />
        </div>
        <br>
        <button type="submit">Add Fruit</button>
        </form>
</body>
</html>